# Configuración de Kaggle
KAGGLE_USERNAME="username_de_kaggle"
KAGGLE_KEY="API_key_de_kaggle"

# Configuración PostgreSQL
POSTGRES_USER=usuario_taller
POSTGRES_PASSWORD=password_taller
POSTGRES_DB=bd_taller