input {
  # 1. Batch - CSV (Catálogo de Productos)
  file {
    path => "/usr/share/logstash/my_data/olist_products_dataset.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    type => "batch_productos"
  }

  # 2. Batch - PostgreSQL (Entidades de Clientes)
  jdbc {
    jdbc_driver_library => "/usr/share/logstash/drivers/postgresql-42.6.2.jar"
    jdbc_driver_class => "org.postgresql.Driver"
    jdbc_connection_string => "jdbc:postgresql://postgres:5432/${POSTGRES_DB}"
    jdbc_user => "${POSTGRES_USER}"
    jdbc_password => "${POSTGRES_PASSWORD}"
    statement => "SELECT customer_id, customer_zip_code_prefix, customer_city, customer_state FROM customers"
    type => "batch_clientes"
  }

  # 3. NRT - Logs (Flujo de Reseñas)
  file {
    path => "/usr/share/logstash/my_data/reviews.log"
    start_position => "beginning"
    type => "nrt_reviews"
  }

  # 4. NRT - JSON (Telemetría de Pedidos)
  file {
    path => "/usr/share/logstash/my_data/telemetria_pedidos.json"
    codec => "json"
    start_position => "end"
    type => "nrt_telemetria"
  }
}

filter {
  if [type] == "batch_productos" {
    csv {
      separator => ","
      columns => ["product_id","product_category_name","product_name_lenght","product_description_lenght","product_photos_qty","product_weight_g","product_length_cm","product_height_cm","product_width_cm"]
      skip_empty_columns => true
    }
    mutate {
      convert => {
        "product_weight_g" => "float"
        "product_length_cm" => "float"
      }
      remove_field => ["message", "host", "@version"]
    }
  }

  if [type] == "nrt_reviews" {
    csv {
      separator => ","
      columns => ["review_id","order_id","review_score","review_comment_title","review_comment_message","review_creation_date","review_answer_timestamp"]
    }
    mutate {
      convert => { "review_score" => "integer" }
      remove_field => ["message", "host"]
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "%{type}-index"
  }
  stdout { codec => rubydebug }
}